<DataSet Rows="72">
    <Row>
        <Item Name="s_Name">California</Item>
        <Item Name="s_CatId">CA</Item>
        <Item Name="i_Counter">19</Item>
        <Item Name="s_Filter"> CA.| CA;| CA,|California|Santa Barbara|San Francisco|Los Angeles|Los Ángeles</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Florida</Item>
        <Item Name="s_CatId">FL</Item>
        <Item Name="i_Counter">9</Item>
        <Item Name="s_Filter"> FL.| FL;| FL,|Florida|Miami</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Russia</Item>
        <Item Name="s_CatId">Russia</Item>
        <Item Name="i_Counter">9</Item>
        <Item Name="s_Filter">Russia|Moscow</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Louisiana</Item>
        <Item Name="s_CatId">LA</Item>
        <Item Name="i_Counter">8</Item>
        <Item Name="s_Filter"> LA.| LA;| LA,|Louisiana|New Orlean|Nueva Orleans|Baton Rouge</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Washington</Item>
        <Item Name="s_CatId">WA</Item>
        <Item Name="i_Counter">8</Item>
        <Item Name="s_Filter"> WA.| WA;| WA,|Washington|Olympia</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - China</Item>
        <Item Name="s_CatId">China</Item>
        <Item Name="i_Counter">8</Item>
        <Item Name="s_Filter">China|Chinese</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Texas</Item>
        <Item Name="s_CatId">TX</Item>
        <Item Name="i_Counter">7</Item>
        <Item Name="s_Filter"> TX.| TX;| TX,|Texas|Austin</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Georgia</Item>
        <Item Name="s_CatId">GA</Item>
        <Item Name="i_Counter">6</Item>
        <Item Name="s_Filter"> GA.| GA;| GA,|Georgia|Atlanta</Item>
    </Row>
    <Row>
        <Item Name="s_Name">New York</Item>
        <Item Name="s_CatId">NY</Item>
        <Item Name="i_Counter">6</Item>
        <Item Name="s_Filter"> NY.| NY;| NY,|New York|Albany</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Mexico</Item>
        <Item Name="s_CatId">Mexico</Item>
        <Item Name="i_Counter">6</Item>
        <Item Name="s_Filter">Mexico</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Illinois</Item>
        <Item Name="s_CatId">IL</Item>
        <Item Name="i_Counter">5</Item>
        <Item Name="s_Filter"> IL.| IL;| IL,|Illinois|Chicago</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - France</Item>
        <Item Name="s_CatId">France</Item>
        <Item Name="i_Counter">5</Item>
        <Item Name="s_Filter">France|French|Paris</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Kentucky</Item>
        <Item Name="s_CatId">KY</Item>
        <Item Name="i_Counter">4</Item>
        <Item Name="s_Filter"> KY.| KY;| KY,|Kentucky|Frankfort</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Britain</Item>
        <Item Name="s_CatId">Britain</Item>
        <Item Name="i_Counter">4</Item>
        <Item Name="s_Filter">Britain|Britanian|British|London</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Colorado</Item>
        <Item Name="s_CatId">CO</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter"> CO.| CO;| CO,|Colorado|Denver</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Indiana</Item>
        <Item Name="s_CatId">IN</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter"> IN.| IN;| IN,|Indiana|Indianapolis~IN...</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Massachusetts</Item>
        <Item Name="s_CatId">MA</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter"> MA.| MA;| MA,|Massachusetts|Boston</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Mississippi</Item>
        <Item Name="s_CatId">MS</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter"> MS.| MS;| MS,|Mississippi|Jackson City</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Missouri</Item>
        <Item Name="s_CatId">MO</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter"> MO.| MO;| MO,|Missouri|Jefferson City</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Utah</Item>
        <Item Name="s_CatId">UT</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter"> UT.| UT;| UT,|Utah|Salt Lake City</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Iran</Item>
        <Item Name="s_CatId">Iran</Item>
        <Item Name="i_Counter">3</Item>
        <Item Name="s_Filter">Iran|Iranian</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Alabama</Item>
        <Item Name="s_CatId">AL</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> AL.| AL;| AL,|Alabama</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Alaska</Item>
        <Item Name="s_CatId">AK</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> AK.| AK;| AK,|Alaska</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Arkansas</Item>
        <Item Name="s_CatId">AR</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> AR.| AR;| AR,|Arkansas</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Hawaii</Item>
        <Item Name="s_CatId">HI</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> HI.| HI;| HI,|Hawaii|Honolulu</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Michigan</Item>
        <Item Name="s_CatId">MI</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> MI.| MI;| MI,|Michigan|Lansing</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Minnesota</Item>
        <Item Name="s_CatId">MN</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> MN.| MN;| MN,|Minnesota|Saint Paul</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Nevada</Item>
        <Item Name="s_CatId">NV</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> NV.| NV;| NV,|Nevada|Carson City</Item>
    </Row>
    <Row>
        <Item Name="s_Name">New Mexico</Item>
        <Item Name="s_CatId">NM</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> NM.| NM;| NM,|New Mexico|Santa Fe</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Oregon</Item>
        <Item Name="s_CatId">OR</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter"> OR.| OR;| OR,|Oregon|Salem~Jerusalem|Winston-Salem|Massachusetts</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Czech Republic</Item>
        <Item Name="s_CatId">Czechia</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter">Czech Republic|Prague</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Germany</Item>
        <Item Name="s_CatId">Germany</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter">Germany</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Poland</Item>
        <Item Name="s_CatId">Poland</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter">Poland|Polish|Warshawa</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - South Korea</Item>
        <Item Name="s_CatId">South Korea</Item>
        <Item Name="i_Counter">2</Item>
        <Item Name="s_Filter">South Korea</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Arizona</Item>
        <Item Name="s_CatId">AZ</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> AZ.| AZ;| AZ,|Arizona|Phoenix</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Connecticut</Item>
        <Item Name="s_CatId">CT</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> CT.| CT;| CT,|Connecticut</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Delaware</Item>
        <Item Name="s_CatId">DE</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> DE.| DE;| DE,|Delaware</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Iowa</Item>
        <Item Name="s_CatId">IA</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> IA.| IA;| IA,|Iowa|Des Moines</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Kansas</Item>
        <Item Name="s_CatId">KS</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> KS.| KS;| KS,|Kansas|Topeka~Arkansas</Item>
    </Row>
    <Row>
        <Item Name="s_Name">North Carolina</Item>
        <Item Name="s_CatId">NC</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> NC.| NC;| NC,|North Carolina|Raleigh</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Ohio</Item>
        <Item Name="s_CatId">OH</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> OH.| OH;| OH,|Ohio|Columbus</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Oklahoma</Item>
        <Item Name="s_CatId">OK</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> OK.| OK;| OK,|Oklahoma</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Tennessee</Item>
        <Item Name="s_CatId">TN</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> TN.| TN;| TN,|Tennessee|Nashville</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Virginia</Item>
        <Item Name="s_CatId">VA</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> VA.| VA;| VA,|Virginia|Richmond</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Wisconsin</Item>
        <Item Name="s_CatId">WI</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> WI.| WI;| WI,|Wisconsin|Madison</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Wyoming</Item>
        <Item Name="s_CatId">WY</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> WY.| WY;| WY,|Wyoming|Cheyenne</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Puerto Rico</Item>
        <Item Name="s_CatId">PR</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> PR.| PR;| PR,|Puerto Rico|San Juan</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Canada</Item>
        <Item Name="s_CatId">Canada</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter">Canada|Vancouver</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Netherlands</Item>
        <Item Name="s_CatId">Netherlands</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter">Netherlands|Amsterdam</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Scotland</Item>
        <Item Name="s_CatId">Scotland</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter">Scotland</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Idaho</Item>
        <Item Name="s_CatId">ID</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> ID.| ID;| ID,|Idaho</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Maine</Item>
        <Item Name="s_CatId">ME</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> ME.| ME;| ME,|Maine|Augusta</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Maryland</Item>
        <Item Name="s_CatId">MD</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> MD.| MD;| MD,|Maryland|Annapolis</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Montana</Item>
        <Item Name="s_CatId">MT</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> MT.| MT;| MT,|Montana|Helena City</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Nebraska</Item>
        <Item Name="s_CatId">NE</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> NE.| NE;| NE,|Nebraska|Lincoln City</Item>
    </Row>
    <Row>
        <Item Name="s_Name">New Hampshire</Item>
        <Item Name="s_CatId">NH</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> NH.| NH;| NH,|New Hampshire|Concord</Item>
    </Row>
    <Row>
        <Item Name="s_Name">New Jersey</Item>
        <Item Name="s_CatId">NJ</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> NJ.| NJ;| NJ,|New Jersey|Trenton</Item>
    </Row>
    <Row>
        <Item Name="s_Name">North Dakota</Item>
        <Item Name="s_CatId">ND</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> ND.| ND;| ND,|North Dakota|Bismarck</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Pennsylvania</Item>
        <Item Name="s_CatId">PA</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> PA.| PA;| PA,|Pennsylvania|Harrisburg</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Rhode Island</Item>
        <Item Name="s_CatId">RI</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> RI.| RI;| RI,|Rhode Island|Providence</Item>
    </Row>
    <Row>
        <Item Name="s_Name">South Carolina</Item>
        <Item Name="s_CatId">SC</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> SC.| SC;| SC,|South Carolina|Columbia</Item>
    </Row>
    <Row>
        <Item Name="s_Name">South Dakota</Item>
        <Item Name="s_CatId">SD</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> SD.| SD;| SD,|South Dakota|Pierre</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Vermont</Item>
        <Item Name="s_CatId">VT</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> VT.| VT;| VT,|Vermont|Montpelier</Item>
    </Row>
    <Row>
        <Item Name="s_Name">West Virginia</Item>
        <Item Name="s_CatId">WV</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> WV.| WV;| WV,|West Virginia|Charleston</Item>
    </Row>
    <Row>
        <Item Name="s_Name">American Samoa</Item>
        <Item Name="s_CatId">AS</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> AS.| AS;| AS,|American Samoa|Pago Pago</Item>
    </Row>
    <Row>
        <Item Name="s_Name">District of Columbia</Item>
        <Item Name="s_CatId">DC</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> DC.| DC;| DC,|District of Columbia</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Federated States of Micronesia</Item>
        <Item Name="s_CatId">FM</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> FM.| FM;| FM,|Federated States of Micronesia</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Guam</Item>
        <Item Name="s_CatId">GU</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> GU.| GU;| GU,|Guam|Hagåtña</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Marshall Islands</Item>
        <Item Name="s_CatId">MH</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> MH.| MH;| MH,|Marshall Islands</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Northern Mariana Islands</Item>
        <Item Name="s_CatId">MP</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> MP.| MP;| MP,|Northern Mariana Islands|Saipan</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Palau</Item>
        <Item Name="s_CatId">PW</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> PW.| PW;| PW,|Palau</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Virgin Islands</Item>
        <Item Name="s_CatId">VI</Item>
        <Item Name="i_Counter">0</Item>
        <Item Name="s_Filter"> VI.| VI;| VI,|Virgin Islands|Charlotte Amalie</Item>
    </Row>
</DataSet>
