<DataSet Rows="10">
    <Row>
        <Item Name="s_Name">California</Item>
        <Item Name="s_CatId">CA</Item>
        <Item Name="i_Counter">19</Item>
        <Item Name="s_Filter"> CA.| CA;| CA,|California|Santa Barbara|San Francisco|Los Angeles|Los Ángeles</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Florida</Item>
        <Item Name="s_CatId">FL</Item>
        <Item Name="i_Counter">9</Item>
        <Item Name="s_Filter"> FL.| FL;| FL,|Florida|Miami</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Russia</Item>
        <Item Name="s_CatId">Russia</Item>
        <Item Name="i_Counter">9</Item>
        <Item Name="s_Filter">Russia|Moscow</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Louisiana</Item>
        <Item Name="s_CatId">LA</Item>
        <Item Name="i_Counter">8</Item>
        <Item Name="s_Filter"> LA.| LA;| LA,|Louisiana|New Orlean|Nueva Orleans|Baton Rouge</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Washington</Item>
        <Item Name="s_CatId">WA</Item>
        <Item Name="i_Counter">8</Item>
        <Item Name="s_Filter"> WA.| WA;| WA,|Washington|Olympia</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - China</Item>
        <Item Name="s_CatId">China</Item>
        <Item Name="i_Counter">8</Item>
        <Item Name="s_Filter">China|Chinese</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Texas</Item>
        <Item Name="s_CatId">TX</Item>
        <Item Name="i_Counter">7</Item>
        <Item Name="s_Filter"> TX.| TX;| TX,|Texas|Austin</Item>
    </Row>
    <Row>
        <Item Name="s_Name">Georgia</Item>
        <Item Name="s_CatId">GA</Item>
        <Item Name="i_Counter">6</Item>
        <Item Name="s_Filter"> GA.| GA;| GA,|Georgia|Atlanta</Item>
    </Row>
    <Row>
        <Item Name="s_Name">New York</Item>
        <Item Name="s_CatId">NY</Item>
        <Item Name="i_Counter">6</Item>
        <Item Name="s_Filter"> NY.| NY;| NY,|New York|Albany</Item>
    </Row>
    <Row>
        <Item Name="s_Name">World - Mexico</Item>
        <Item Name="s_CatId">Mexico</Item>
        <Item Name="i_Counter">6</Item>
        <Item Name="s_Filter">Mexico</Item>
    </Row>
</DataSet>
