<DataSet Rows="1">
    <Row>
        <Item Name="s_Name">Wyoming</Item>
        <Item Name="s_CatId">WY</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> WY.| WY;| WY,|Wyoming|Cheyenne</Item>
    </Row>
</DataSet>
