<DataSet Rows="1">
    <Row>
        <Item Name="s_Name">Arizona</Item>
        <Item Name="s_CatId">AZ</Item>
        <Item Name="i_Counter">1</Item>
        <Item Name="s_Filter"> AZ.| AZ;| AZ,|Arizona|Phoenix</Item>
    </Row>
</DataSet>
