<DataSet Rows="1">
    <Row>
        <Item Name="s_FullTitle">SAT Scores Drop for the Second Year in a Row</Item>
        <Item Name="d_Date">8/28/2007 3:41:00 PM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">The College Board reports a gender gap in the writing section and a rise in students with disabilities.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/education/articles/2007/08/28/sat-scores-drop-for-the-second-year-in-a-row</Item>
        <Item Name="s_Url">sat-scores-drop-for-the-second-year-in-a-row</Item>
        <Item Name="s_Title">SAT Scores Drop for the Second Year in a Row</Item>
        <Item Name="s_Creator">Alex Kingsbury</Item>
        <Item Name="i_SourceLink">10</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">1</Item>
        <Item Name="t_FullDescription">The College Board reports a gender gap in the writing section and a rise in students with disabilities.</Item>
        <Item Name="s_SourceName">education.usnews.com</Item>
    </Row>
</DataSet>
