<DataSet Rows="25">
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Investigators Probe Reported Russian Tundra Pollution</Item>
        <Item Name="s_Url">investigators-probe-reported-russian-tundra-pollution</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - Russia</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">345</Item>
        <Item Name="d_Date">6/28/2020 12:20:01 PM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Black Bear Rescued as Cub Released Back Into Wyoming Woods</Item>
        <Item Name="s_Url">black-bear-rescued-as-cub-released-back-into-wyoming-woods</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">Wyoming</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">344</Item>
        <Item Name="d_Date">6/28/2020 12:10:44 PM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Lazarus Chakwera Inaugurated as Malawi's New President</Item>
        <Item Name="s_Url">lazarus-chakwera-inaugurated-as-malawi-s-new-president</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">343</Item>
        <Item Name="d_Date">6/28/2020 12:10:32 PM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Confirmed Cases Hit 10 Million; Pence Skips Campaign Rallies</Item>
        <Item Name="s_Url">confirmed-cases-hit-10-million-pence-skips-campaign-rallies</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - France, World - Poland</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">342</Item>
        <Item Name="d_Date">6/28/2020 12:04:22 PM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Black Candidates Push Race Debate Into GOP-Held Districts</Item>
        <Item Name="s_Url">black-candidates-push-race-debate-into-gop-held-districts</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">341</Item>
        <Item Name="d_Date">6/28/2020 11:59:12 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">DC Mayor Caught Between Activists, Police in Funding Battle</Item>
        <Item Name="s_Url">dc-mayor-caught-between-activists-police-in-funding-battle</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">340</Item>
        <Item Name="d_Date">6/28/2020 11:56:08 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">China Reviews Heavily Criticized Hong Kong Security Bill</Item>
        <Item Name="s_Url">china-reviews-heavily-criticized-hong-kong-security-bill</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - China</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">339</Item>
        <Item Name="d_Date">6/28/2020 11:37:54 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Officials: Fireworks Spark Utah Wildfire, Evacuations</Item>
        <Item Name="s_Url">officials-fireworks-spark-utah-wildfire-evacuations</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">Utah</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">338</Item>
        <Item Name="d_Date">6/28/2020 11:23:28 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">The Latest: Confirmed Coronavirus Cases Pass 10 Million</Item>
        <Item Name="s_Url">the-latest-confirmed-coronavirus-cases-pass-10-million</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">337</Item>
        <Item Name="d_Date">6/28/2020 11:06:10 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Taiwan Holds LGBT Pride Parade Despite Coronavirus</Item>
        <Item Name="s_Url">taiwan-holds-lgbt-pride-parade-despite-coronavirus</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">336</Item>
        <Item Name="d_Date">6/28/2020 10:53:28 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">How Germany Did It: Completing the Soccer Season in Europe</Item>
        <Item Name="s_Url">how-germany-did-it-completing-the-soccer-season-in-europe</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - Germany</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">335</Item>
        <Item Name="d_Date">6/28/2020 10:31:35 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">France Holds Municipal Elections Postponed by Virus Crisis</Item>
        <Item Name="s_Url">france-holds-municipal-elections-postponed-by-virus-crisis</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - France</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">334</Item>
        <Item Name="d_Date">6/28/2020 10:29:03 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">AP Interview: US Envoy Calls for Iran Arms Embargo Renewal</Item>
        <Item Name="s_Url">ap-interview-us-envoy-calls-for-iran-arms-embargo-renewal</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - Iran</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">333</Item>
        <Item Name="d_Date">6/28/2020 10:20:49 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Rolling Stones Threaten to Sue Trump Over Using Their Songs</Item>
        <Item Name="s_Url">rolling-stones-threaten-to-sue-trump-over-using-their-songs</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">332</Item>
        <Item Name="d_Date">6/28/2020 10:13:55 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Poles Face Long Lines, Coronavirus Limits in Presidential Vote</Item>
        <Item Name="s_Url">poles-face-long-lines-coronavirus-limits-in-presidential-vote</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">331</Item>
        <Item Name="d_Date">6/28/2020 10:12:27 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Giant Rainbow Flag Unfurled in Front of Taiwan Autocrat's Memorial Hall</Item>
        <Item Name="s_Url">giant-rainbow-flag-unfurled-in-front-of-taiwan-autocrat-s-memorial-hall</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">330</Item>
        <Item Name="d_Date">6/28/2020 9:58:13 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">U.S. Sanctions, Coronavirus Make for Iran's Toughest Year, Rouhani Says</Item>
        <Item Name="s_Url">u-s-sanctions-coronavirus-make-for-iran-s-toughest-year-rouhani-says</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category">World - Iran</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">329</Item>
        <Item Name="d_Date">6/28/2020 9:51:21 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Congo PM Threatens Government Resignation Over Minister's Arrest</Item>
        <Item Name="s_Url">congo-pm-threatens-government-resignation-over-minister-s-arrest</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">328</Item>
        <Item Name="d_Date">6/28/2020 9:48:36 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">A Divided Poland Holds Presidential Vote Delayed by Pandemic</Item>
        <Item Name="s_Url">a-divided-poland-holds-presidential-vote-delayed-by-pandemic</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category">World - Poland</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">327</Item>
        <Item Name="d_Date">6/28/2020 9:45:31 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Israeli Court Releases Anti-Netanyahu Activist After Arrest</Item>
        <Item Name="s_Url">israeli-court-releases-anti-netanyahu-activist-after-arrest</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">326</Item>
        <Item Name="d_Date">6/28/2020 9:08:54 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">China Lawmakers Review Draft of Hong Kong National Security Bill: Xinhua</Item>
        <Item Name="s_Url">china-lawmakers-review-draft-of-hong-kong-national-security-bill-xinhua</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category">World - China</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">325</Item>
        <Item Name="d_Date">6/28/2020 9:00:26 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">'Get Britain Moving Again', PM Johnson to Unveil New Infrastructure Plan</Item>
        <Item Name="s_Url">get-britain-moving-again-pm-johnson-to-unveil-new-infrastructure-plan</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category">World - Britain</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">324</Item>
        <Item Name="d_Date">6/28/2020 8:40:49 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Shooting at California Walmart Distribution Center Leaves Two Dead, Four Injured</Item>
        <Item Name="s_Url">shooting-at-california-walmart-distribution-center-leaves-two-dead-four-injured</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category">California</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">323</Item>
        <Item Name="d_Date">6/28/2020 8:32:25 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Welsh First Minister Criticizes UK Government on Coronavirus Messaging</Item>
        <Item Name="s_Url">welsh-first-minister-criticizes-uk-government-on-coronavirus-messaging</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category">World - Britain</Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">322</Item>
        <Item Name="d_Date">6/28/2020 8:15:57 AM</Item>
    </Row>
    <Row>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="s_Title">Dozens Arrested as Hong Kongers Protest Planned National Security Laws</Item>
        <Item Name="s_Url">dozens-arrested-as-hong-kongers-protest-planned-national-security-laws</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="s_Category"></Item>
        <Item Name="s_SourceName1">news.usnews.com</Item>
        <Item Name="i_ItemId">321</Item>
        <Item Name="d_Date">6/28/2020 8:03:22 AM</Item>
    </Row>
</DataSet>
