<DataSet Rows="20">
    <Row>
        <Item Name="s_FullTitle">Investigators Probe Reported Russian Tundra Pollution</Item>
        <Item Name="d_Date">6/28/2020 12:20:01 PM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Russia’s main criminal investigation body has launched a probe after a report that a nickel-processing plant was pumping water contaminated with heavy metals into the Arctic tundra.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/business/articles/2020-06-28/investigators-probe-reported-russian-tundra-pollution</Item>
        <Item Name="s_Url">investigators-probe-reported-russian-tundra-pollution</Item>
        <Item Name="s_Title">Investigators Probe Reported Russian Tundra Pollution</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - Russia</Item>
        <Item Name="i_ItemId">345</Item>
        <Item Name="t_FullDescription">Russia’s main criminal investigation body has launched a probe after a report that a nickel-processing plant was pumping water contaminated with heavy metals into the Arctic tundra.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Black Bear Rescued as Cub Released Back Into Wyoming Woods</Item>
        <Item Name="d_Date">6/28/2020 12:10:44 PM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">A young black bear is back in the wild in western Wyoming after being rescued as a cub.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/best-states/wyoming/articles/2020-06-28/black-bear-rescued-as-cub-released-back-into-wyoming-woods</Item>
        <Item Name="s_Url">black-bear-rescued-as-cub-released-back-into-wyoming-woods</Item>
        <Item Name="s_Title">Black Bear Rescued as Cub Released Back Into Wyoming Woods</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">Wyoming</Item>
        <Item Name="i_ItemId">344</Item>
        <Item Name="t_FullDescription">A young black bear is back in the wild in western Wyoming after being rescued as a cub.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Lazarus Chakwera Inaugurated as Malawi's New President</Item>
        <Item Name="d_Date">6/28/2020 12:10:32 PM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Lazarus Chakwera has been sworn in as Malawi’s new president after the announcement that he won the southern African country’s rerun elections.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/lazarus-chakwera-inaugurated-as-malawis-new-president</Item>
        <Item Name="s_Url">lazarus-chakwera-inaugurated-as-malawi-s-new-president</Item>
        <Item Name="s_Title">Lazarus Chakwera Inaugurated as Malawi's New President</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">343</Item>
        <Item Name="t_FullDescription">Lazarus Chakwera has been sworn in as Malawi’s new president after the announcement that he won the southern African country’s rerun elections.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Confirmed Cases Hit 10 Million; Pence Skips Campaign Rallies</Item>
        <Item Name="d_Date">6/28/2020 12:04:22 PM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Worldwide confirmed coronavirus infections have hit the 10 million mark as voters in Poland and France went to the polls for virus-delayed elections.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/china-virus-cases-stabilize-as-italy-sees-drop-in-deaths</Item>
        <Item Name="s_Url">confirmed-cases-hit-10-million-pence-skips-campaign-rallies</Item>
        <Item Name="s_Title">Confirmed Cases Hit 10 Million; Pence Skips Campaign Rallies</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - France, World - Poland</Item>
        <Item Name="i_ItemId">342</Item>
        <Item Name="t_FullDescription">Worldwide confirmed coronavirus infections have hit the 10 million mark as voters in Poland and France went to the polls for virus-delayed elections.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Black Candidates Push Race Debate Into GOP-Held Districts</Item>
        <Item Name="d_Date">6/28/2020 11:59:12 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">The reenergized movement against racial inequality and police brutality following the killing of George Floyd  has amplified the voices of Black candidates across the country.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/politics/articles/2020-06-28/black-candidates-push-race-debate-into-gop-held-districts</Item>
        <Item Name="s_Url">black-candidates-push-race-debate-into-gop-held-districts</Item>
        <Item Name="s_Title">Black Candidates Push Race Debate Into GOP-Held Districts</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">341</Item>
        <Item Name="t_FullDescription">The reenergized movement against racial inequality and police brutality following the killing of George Floyd  has amplified the voices of Black candidates across the country.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">DC Mayor Caught Between Activists, Police in Funding Battle</Item>
        <Item Name="d_Date">6/28/2020 11:56:08 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Muriel Bowser’s national profile had never been higher, thanks to a Twitter beef with President Donald Trump and a renewed push to turn the nation’s capital into the 51st state.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/politics/articles/2020-06-28/dc-mayor-caught-between-activists-police-in-funding-battle</Item>
        <Item Name="s_Url">dc-mayor-caught-between-activists-police-in-funding-battle</Item>
        <Item Name="s_Title">DC Mayor Caught Between Activists, Police in Funding Battle</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">340</Item>
        <Item Name="t_FullDescription">Muriel Bowser’s national profile had never been higher, thanks to a Twitter beef with President Donald Trump and a renewed push to turn the nation’s capital into the 51st state.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">China Reviews Heavily Criticized Hong Kong Security Bill</Item>
        <Item Name="d_Date">6/28/2020 11:37:54 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">China's legislature is reviewing a controversial national security bill for Hong Kong that critics worldwide say will severely compromise human rights in the semi-autonomous Chinese region.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/china-reviews-heavily-criticized-hong-kong-security-bill</Item>
        <Item Name="s_Url">china-reviews-heavily-criticized-hong-kong-security-bill</Item>
        <Item Name="s_Title">China Reviews Heavily Criticized Hong Kong Security Bill</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - China</Item>
        <Item Name="i_ItemId">339</Item>
        <Item Name="t_FullDescription">China's legislature is reviewing a controversial national security bill for Hong Kong that critics worldwide say will severely compromise human rights in the semi-autonomous Chinese region.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Officials: Fireworks Spark Utah Wildfire, Evacuations</Item>
        <Item Name="d_Date">6/28/2020 11:23:28 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Utah officials say fireworks caused a wildfire that forced out residents of several houses and from an apartment building early Sunday as flames threatened the homes.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/best-states/utah/articles/2020-06-28/officials-fireworks-spark-utah-wildfire-evacuations</Item>
        <Item Name="s_Url">officials-fireworks-spark-utah-wildfire-evacuations</Item>
        <Item Name="s_Title">Officials: Fireworks Spark Utah Wildfire, Evacuations</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">Utah</Item>
        <Item Name="i_ItemId">338</Item>
        <Item Name="t_FullDescription">Utah officials say fireworks caused a wildfire that forced out residents of several houses and from an apartment building early Sunday as flames threatened the homes.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">The Latest: Confirmed Coronavirus Cases Pass 10 Million</Item>
        <Item Name="d_Date">6/28/2020 11:06:10 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Confirmed coronavirus infections have surpassed the 10 million mark worldwide.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/the-latest-pakistan-producing-own-ventilators-as-cases-rise</Item>
        <Item Name="s_Url">the-latest-confirmed-coronavirus-cases-pass-10-million</Item>
        <Item Name="s_Title">The Latest: Confirmed Coronavirus Cases Pass 10 Million</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">337</Item>
        <Item Name="t_FullDescription">Confirmed coronavirus infections have surpassed the 10 million mark worldwide.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Taiwan Holds LGBT Pride Parade Despite Coronavirus</Item>
        <Item Name="d_Date">6/28/2020 10:53:28 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">The Taiwanese capital has held its annual LGBT pride parade, making it one of the few places in the world to proceed with such an event in the face of the coronavirus pandemic.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/taiwan-holds-lgbt-pride-parade-despite-coronavirus</Item>
        <Item Name="s_Url">taiwan-holds-lgbt-pride-parade-despite-coronavirus</Item>
        <Item Name="s_Title">Taiwan Holds LGBT Pride Parade Despite Coronavirus</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">336</Item>
        <Item Name="t_FullDescription">The Taiwanese capital has held its annual LGBT pride parade, making it one of the few places in the world to proceed with such an event in the face of the coronavirus pandemic.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">How Germany Did It: Completing the Soccer Season in Europe</Item>
        <Item Name="d_Date">6/28/2020 10:31:35 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Only the fans were missing as Bayern Munich celebrated its title Saturday and the Bundesliga breathed a sigh of relief.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/sports/articles/2020-06-28/how-germany-did-it-completing-the-soccer-season-in-europe</Item>
        <Item Name="s_Url">how-germany-did-it-completing-the-soccer-season-in-europe</Item>
        <Item Name="s_Title">How Germany Did It: Completing the Soccer Season in Europe</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - Germany</Item>
        <Item Name="i_ItemId">335</Item>
        <Item Name="t_FullDescription">Only the fans were missing as Bayern Munich celebrated its title Saturday and the Bundesliga breathed a sigh of relief.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">France Holds Municipal Elections Postponed by Virus Crisis</Item>
        <Item Name="d_Date">6/28/2020 10:29:03 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">France is holding the second round of municipal elections that got postponed due to the country's coronavirus outbreak.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/france-holds-municipal-elections-postponed-by-virus-crisis</Item>
        <Item Name="s_Url">france-holds-municipal-elections-postponed-by-virus-crisis</Item>
        <Item Name="s_Title">France Holds Municipal Elections Postponed by Virus Crisis</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - France</Item>
        <Item Name="i_ItemId">334</Item>
        <Item Name="t_FullDescription">France is holding the second round of municipal elections that got postponed due to the country's coronavirus outbreak.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">AP Interview: US Envoy Calls for Iran Arms Embargo Renewal</Item>
        <Item Name="d_Date">6/28/2020 10:20:49 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">The U.S. special representative to Iran says a United Nations weapons embargo on Tehran must remain in place.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/ap-interview-us-envoy-calls-for-iran-arms-embargo-renewal</Item>
        <Item Name="s_Url">ap-interview-us-envoy-calls-for-iran-arms-embargo-renewal</Item>
        <Item Name="s_Title">AP Interview: US Envoy Calls for Iran Arms Embargo Renewal</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - Iran</Item>
        <Item Name="i_ItemId">333</Item>
        <Item Name="t_FullDescription">The U.S. special representative to Iran says a United Nations weapons embargo on Tehran must remain in place.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Rolling Stones Threaten to Sue Trump Over Using Their Songs</Item>
        <Item Name="d_Date">6/28/2020 10:13:55 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">The Rolling Stones are threatening President Donald Trump with legal action for using their songs at his rallies despite cease-and-desist directives.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/entertainment/articles/2020-06-28/rolling-stones-threaten-to-sue-trump-over-using-their-songs</Item>
        <Item Name="s_Url">rolling-stones-threaten-to-sue-trump-over-using-their-songs</Item>
        <Item Name="s_Title">Rolling Stones Threaten to Sue Trump Over Using Their Songs</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">332</Item>
        <Item Name="t_FullDescription">The Rolling Stones are threatening President Donald Trump with legal action for using their songs at his rallies despite cease-and-desist directives.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Poles Face Long Lines, Coronavirus Limits in Presidential Vote</Item>
        <Item Name="d_Date">6/28/2020 10:12:27 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">By Joanna Plucinska and Anna KoperWARSAW (Reuters) - Poles stood in long lines to vote on Sunday in a closely-fought presidential election that...</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/poles-face-long-lines-coronavirus-limits-in-presidential-vote</Item>
        <Item Name="s_Url">poles-face-long-lines-coronavirus-limits-in-presidential-vote</Item>
        <Item Name="s_Title">Poles Face Long Lines, Coronavirus Limits in Presidential Vote</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">331</Item>
        <Item Name="t_FullDescription">By Joanna Plucinska and Anna KoperWARSAW (Reuters) - Poles stood in long lines to vote on Sunday in a closely-fought presidential election that...</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Giant Rainbow Flag Unfurled in Front of Taiwan Autocrat's Memorial Hall</Item>
        <Item Name="d_Date">6/28/2020 9:58:13 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">TAIPEI (Reuters) - Hundreds of people thronged a central square in Taiwan's capital Taipei for a Pride event on Sunday, unfurling a giant rainbow...</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/giant-rainbow-flag-unfurled-in-front-of-taiwan-autocrats-memorial-hall</Item>
        <Item Name="s_Url">giant-rainbow-flag-unfurled-in-front-of-taiwan-autocrat-s-memorial-hall</Item>
        <Item Name="s_Title">Giant Rainbow Flag Unfurled in Front of Taiwan Autocrat's Memorial Hall</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">330</Item>
        <Item Name="t_FullDescription">TAIPEI (Reuters) - Hundreds of people thronged a central square in Taiwan's capital Taipei for a Pride event on Sunday, unfurling a giant rainbow...</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">U.S. Sanctions, Coronavirus Make for Iran's Toughest Year, Rouhani Says</Item>
        <Item Name="d_Date">6/28/2020 9:51:21 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">DUBAI (Reuters) - Iranian President Hassan Rouhani said on Sunday that his country is experiencing its toughest year because of U.S. sanctions...</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/us-sanctions-coronavirus-make-for-irans-toughest-year-rouhani-says</Item>
        <Item Name="s_Url">u-s-sanctions-coronavirus-make-for-iran-s-toughest-year-rouhani-says</Item>
        <Item Name="s_Title">U.S. Sanctions, Coronavirus Make for Iran's Toughest Year, Rouhani Says</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - Iran</Item>
        <Item Name="i_ItemId">329</Item>
        <Item Name="t_FullDescription">DUBAI (Reuters) - Iranian President Hassan Rouhani said on Sunday that his country is experiencing its toughest year because of U.S. sanctions...</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Congo PM Threatens Government Resignation Over Minister's Arrest</Item>
        <Item Name="d_Date">6/28/2020 9:48:36 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">KINSHASA (Reuters) - Democratic Republic of Congo's prime minister protested on Sunday over the brief arrest of the justice minister, saying the...</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/congo-pm-threatens-government-resignation-over-ministers-arrest</Item>
        <Item Name="s_Url">congo-pm-threatens-government-resignation-over-minister-s-arrest</Item>
        <Item Name="s_Title">Congo PM Threatens Government Resignation Over Minister's Arrest</Item>
        <Item Name="s_Creator">Reuters</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">328</Item>
        <Item Name="t_FullDescription">KINSHASA (Reuters) - Democratic Republic of Congo's prime minister protested on Sunday over the brief arrest of the justice minister, saying the...</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">A Divided Poland Holds Presidential Vote Delayed by Pandemic</Item>
        <Item Name="d_Date">6/28/2020 9:45:31 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">Poles have begun voting in a presidential election that had been scheduled for May but was delayed by the coronavirus pandemic.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/poland-holds-presidential-election-delayed-by-pandemic</Item>
        <Item Name="s_Url">a-divided-poland-holds-presidential-vote-delayed-by-pandemic</Item>
        <Item Name="s_Title">A Divided Poland Holds Presidential Vote Delayed by Pandemic</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category">World - Poland</Item>
        <Item Name="i_ItemId">327</Item>
        <Item Name="t_FullDescription">Poles have begun voting in a presidential election that had been scheduled for May but was delayed by the coronavirus pandemic.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_FullTitle">Israeli Court Releases Anti-Netanyahu Activist After Arrest</Item>
        <Item Name="d_Date">6/28/2020 9:08:54 AM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">A Jerusalem court has released a former Air Force general and leading activist opposed to Israeli prime minister Benjamin Netanyahu whose arrest prompted hundreds to protest outside the Israeli leader’s residence.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://www.usnews.com/news/world/articles/2020-06-28/israeli-court-releases-anti-netanyahu-activist-after-arrest</Item>
        <Item Name="s_Url">israeli-court-releases-anti-netanyahu-activist-after-arrest</Item>
        <Item Name="s_Title">Israeli Court Releases Anti-Netanyahu Activist After Arrest</Item>
        <Item Name="s_Creator">Associated Press</Item>
        <Item Name="i_SourceLink">40</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">326</Item>
        <Item Name="t_FullDescription">A Jerusalem court has released a former Air Force general and leading activist opposed to Israeli prime minister Benjamin Netanyahu whose arrest prompted hundreds to protest outside the Israeli leader’s residence.</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
    </Row>
</DataSet>
