<DataSet Rows="1">
    <Row>
        <Item Name="s_FullTitle">The Best Camping Gear to Buy for Your Next Adventure</Item>
        <Item Name="d_Date">6/18/2020 1:00:00 PM</Item>
        <Item Name="s_Custom2"></Item>
        <Item Name="t_Description">These camping items will help ensure your next adventure is successful and safe.</Item>
        <Item Name="s_Custom1"></Item>
        <Item Name="s_Link">https://travel.usnews.com/features/the-best-camping-gear-to-buy-for-your-next-adventure</Item>
        <Item Name="s_Url">the-best-camping-gear-to-buy-for-your-next-adventure</Item>
        <Item Name="s_Title">The Best Camping Gear to Buy for Your Next Adventure</Item>
        <Item Name="s_Creator">Zach Watson</Item>
        <Item Name="i_SourceLink">60</Item>
        <Item Name="s_Category"></Item>
        <Item Name="i_ItemId">545</Item>
        <Item Name="t_FullDescription">These camping items will help ensure your next adventure is successful and safe.</Item>
        <Item Name="s_SourceName">travel.usnews.com</Item>
    </Row>
</DataSet>
