<DataSet Rows="6">
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=Education</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">education.usnews.com</Item>
        <Item Name="i_SourceId">10</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://www.usnews.com/education</Item>
    </Row>
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=Health</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">health.usnews.com</Item>
        <Item Name="i_SourceId">20</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://health.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=Money</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">money.usnews.com</Item>
        <Item Name="i_SourceId">30</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://money.usnews.com</Item>
    </Row>
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=News</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="i_SourceId">40</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://www.usnews.com/news</Item>
    </Row>
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=Opinion</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">opinion.usnews.com</Item>
        <Item Name="i_SourceId">50</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://www.usnews.com/opinion</Item>
    </Row>
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=Travel</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">travel.usnews.com</Item>
        <Item Name="i_SourceId">60</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://travel.usnews.com</Item>
    </Row>
</DataSet>
