<DataSet Rows="1">
    <Row>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.aspx?source=Education</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_SourceName">education.usnews.com</Item>
        <Item Name="i_SourceId">10</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="s_External">http://www.usnews.com/education</Item>
    </Row>
</DataSet>
